<div class="cards">
    <ng-container *ngFor="let art of artistInfo">
        <ng-container *ngFor="let album of art.albums">
            <div class="card">
                <div class="card-album">
                    <img *ngIf="album.image" class="card-album-img" src="{{album.image}}" alt="album_image">
                    <p *ngIf="!album.image">NO IMAGE</p>
                </div>
                <div class="card-info">
                    <h1 class="card-name">{{album.name}}</h1>
                    <p class="card-playlist">{{album.name}}
                        <span class="card-stream">Test</span>
                    </p>
                    <p class="card-release">
                        {{album.releasedate | date}}
                    </p>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
